* {
    margin: 0;
    padding: 0;
}

body {
    margin: 10%;
    text-align: center;
    animation: anim 15s infinite;
    font-family: 'Segoe UI',
        Tahoma,
        Geneva,
        Verdana,
        sans-serif;
}

#buttons {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input {
    all: unset;
    max-width: 60px;
    background-color: black;
    cursor: pointer;
    padding: 10px;
    background-color: white;
    border: none;
    box-shadow: 2px 2px 2px grey;
    font-size: 25px;
    font-weight: bold;

}

#go {
    background-color: black;
    cursor: pointer;
    padding: 10px;
    background-color: white;
    border: none;
    box-shadow: 2px 2px 2px grey;
    font-size: 25px;
    font-weight: bold;
}

input:hover,
#go:hover {
    background-color: black;
    color: white;
    box-shadow: none;
}

.disabled {
    cursor: unset;
    background-color: black;
    color: white;
    box-shadow: none;
}

.mt {
    margin-top: 5%;
}

.hide {
    display: none;
}

h3 {
    letter-spacing: 1px;
    word-spacing: 6px;
}

@keyframes anim {
    0% {
        background: #FDEB71;
    }

    20% {
        background: #ABCDFF;
    }

    40% {
        background: #FEB692;
    }

    60% {
        background: #FFF6B7;
    }

    80% {
        background: #81FBB8;
    }

    100% {
        background: #FDEB71;
    }
}